header {
    background-image: url(/img/inner-banner.jpg);
    display: inline-block;
    text-align: center;
    height: 40vh;
    width: 100%;
    background-position: center;
    background-size: cover;


    div {
        &.nav-aqua {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            h3 {
                font-size: 40px;
                font-weight: 600;
                font-family: 'Halant', serif;
                color: #fff;
            }


            nav {
             
                margin: 20px 10px;


                ul {
                    li {
                        display: inline;

                        a {
                            text-decoration: none;
                            color: #f8f9fa;
                            padding: 6px 0px;
                            margin: 10px;
                            border-radius: 5px;
                            font-size: 20px;
                            font-weight: 600;
                        }

                        input {
                            padding: 10px;
                            border-radius: 40px;
                            color: black;
                        }
                    }
                }
            }
        }

        &.box-main-header {
            display: flex;
            margin-left: 15%;

            div {
                &.main-header {
                    color: #fff;
                    font-weight: 600;

                    h4 {
                        font-size: 24px;

                    }

                    ul {
                        display: flex;

                        li {
                            list-style-type: none;
                            font-size: 16px;
                            font-weight: 600;

                            a {
                                text-decoration: none;
                                color: #f8f9fa;
                            }

                            i {
                                margin: 0 10px;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }

    }

}

#form {
    div {
        &.ctn-form {
            text-align: center;
            padding: 50px;
            div {
                &.form-text {
                    h2 {
                        font-size: 36px;
                        line-height: 44px;
                        font-weight: 600;
                    }
                    p{
                        font-size: 16px;
                        line-height: 28px;
                        color: gray;
                        letter-spacing: 1px;
                        padding: 0 340px;
                    }
                }
                
                &.formx {

                    display: flex;
                    justify-content: center;

                    div {
                        padding: 30px;

                        &.form-left {
                            width: 32%;

                            div {
                                label {
                                    display: block;
                                    text-align: start;
                                    font-size: 16px;
                                    margin-bottom: 6px;
                                }

                                input {
                                    height: 30px;
                                    width: 100%;
                                }
                            }
                        }

                        &.form-right {
                            div {
                                label {
                                    display: block;
                                    text-align: start;
                                    font-size: 16px;
                                    margin-bottom: 6px;
                                }

                                textarea {
                                    width: 362px;
                                    height: 260px;
                                }
                            }
                        }


                    }
                }
                &.a{
                    button{
                        
                        font-weight: 600;
                        padding: 14px 30px;
                       color: #fff;
                       background-color: aqua;
                       text-transform: uppercase;
                       border: none;
                       text-align: right;   
                       border-radius: 10px;
                    }
                    button:hover{
                        background-color: orangered;
                    }
                    
                }

                
            }
            iframe{
                min-height: 20em;
                width: 100%;
                margin-top: 3em;
                border: none;
                padding: 0.4em;
            }
        }
    }
}
#footer-a {
    background-color: black;

    div {
        &.container {
            padding: 80px 100px;

            div {
                &.text-center {

                    text-align: center;

                    a {
                        font-size: 30px;
                        color: #eee;
                        font-weight: 600;
                        text-decoration: none;
                        font-family: 'Cinzel', serif;
                    }
                }
            }

            form {
                margin-top: 20px;
                padding: 20px;
                text-align: center;

                input {
                    border: none;
                    background: #fff;
                    font-size: 16px;
                    padding: 0px 20px;
                    color: #777777;
                    width: 25%;
                    height: 55px;
                    border-radius: 4px 0px 0px 4px;
                }

                button {
                    border: none;
                    margin: -4px;
                    padding: 18px 20px;
                    background-color: #00bbf9;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 600;
                    border-radius: 0 4px 4px 0;
                    width: 10%;
                }
            }

            div {
                &.footer-text {

                    div {

                        &.border {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;

                            div {
                                width: 25%;

                                h6 {
                                    font-size: 22px;
                                    line-height: 25px;
                                    margin-bottom: 20px;
                                    font-weight: bold;
                                    margin-left: 40px;
                                    color: #eee;
                                }

                                ul {
                                    li {
                                        list-style-type: none;

                                        a {
                                            text-decoration: none;
                                            color: #fff;
                                            font-size: 15px;
                                            line-height: 30px;
                                            opacity: .8;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}